# Compiled class files
*.class

# Package Files #
*.jar
*.war
*.ear
javafx-sdk-23.0.1/
/bin/
h2/
BouncyCastle-2.73.6/

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse files
.project
.classpath
.c9/
.settings/

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code files
.vscode/

# macOS system files
.DS_Store
/.metadata/
*.db
